<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fragments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div th:fragment="header">Spring Sleuth / Open Tracing</div>
<div th:fragment="content">
    <ul>
        <li>What is open tracing?</li>
        <li>What is the relation with Spring Sleuth?</li>
        <li>How can it help me in my work?</li>
        <li>Terminology!</li>
        <li>How does it work in the background?</li>
        <li>Demo!</li>
    </ul>
</div>
</body>

</html>